body {
    background-color: #faf2db;
    color: #444444;
}

* {
    font-family: 'Roboto Slab', serif;
}

.loginBG {
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("../style/Login\ BG.jpg");
    
}

.basicNavBar {
    background-color: #fffef9;
}

.loginscreen {
    height: 100vh;
}

.adminHomePage {
    background-image: url("../style/Admin\ Home\ BG.jpg");    /*Photo source: https://unsplash.com/photos/0Bs3et8FYyg*/
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.employeeHomePage {
    background-image: url("../style/Employee\ Home\ BG.jpg");    /*Photo source: https://unsplash.com/photos/xWZa0GYCMbo*/
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.adminEmployeesPage {
    background-image: url("../style/Employee\ List\ BG.jpg");    /*Photo source: https://unsplash.com/photos/6-aOgypz3lA*/
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.innerAdmin {
    background-color: #faf2db;
}

.employeeHeader {
    background-color: #5b642c;
    color: #faf2db;
}

.mainHeaders {
    color: #5b642c;
}
  
.accordion {
    padding: 0;
}

.accordion-item {
    list-style: none;
}

.accordion-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #faf2db;
    padding: 1em;
    color: #5B642C;
}
.accordion-toggle:hover {
    background-color: #f8edcb;
}
.accordion-toggle h3 {
    margin: 0;
}
.accordion-content {
    background-color: white;
    padding: 1em;
}

.accordion-content p {
    margin: 0;
    margin-left: 2em;
}
