body {
    background-color: #faf2db;
}

* {
    font-family: 'Roboto Slab', serif;
}

.loginBG {
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("../style/Login\ BG.jpg");
    
}

.basicNavBar {
    background-color: #fffef9;
}

.loginscreen {
    height: 100vh;
}

.adminHomePage {
    background-image: url("../style/Admin\ Home\ BG.jpg");    /*Photo source: https://unsplash.com/photos/0Bs3et8FYyg*/
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.employeeHomePage {
    background-image: url("../style/Employee\ Home\ BG.jpg");    /*Photo source: https://unsplash.com/photos/xWZa0GYCMbo*/
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.innerAdmin {
    background-color: #faf2db;
}

.adminContent {
    margin: 10px;
}

.flaggedDays {
    background-color: #faf2db;
    border: 1px solid #dfc36f;
    border-radius: 15px;
    width: 75%;
    height: 35%;
    float: left;
}

.todaysDate {
    background-color: #faf2db;
    border: 1px solid #dfc36f;
    border-radius: 15px;
    width: 20%;
    height: 35%;
    float: right;
}

.listOfEmp {
    background-color: #faf2db;
    border: 1px solid #dfc36f;
    border-radius: 15px;
    width: 45%;
    height: 35%;
    float: left;
}

.empty {
    background-color: #faf2db;
    border: 1px solid #dfc36f;
    border-radius: 15px;
    width: 50%;
    height: 35%;
    float: right;
}

.flaggedDays, .todaysDate, .listOfEmp, .empty {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 15px;
}

.flaggedDays h2, .todaysDate h2, .listOfEmp h2 {
    text-align: center;
}

.flaggedDays table, .listOfEmp table {
    width: 100%;
}

.todaysDate {
    text-align: center;
}

.curMonth {
    font-size: 45px;
    margin: 0;
}

.curDay {
    font-size: 110px;
    margin: 0;
    line-height: 110px;
}

.curYear {
    font-size: 45px;
    margin: 0;
}